<div class="container">
    <h1>App Socket</h1>
    <div class="container caja" id="caja"></div>

    <form >
        <div class="mb-3">
            <input type="text" class="form-control" id="nombre" aria-describedby="emailHelp" placeholder="Tu nombre...">
        </div>
        <div class="mb-3">
            <textarea class="form-control" id="text" placeholder="Tu mensaje..."></textarea>
        <input type="submit" value="Enviar" class="btn btn-primary">
    </form>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>